body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url('../resources/BH_wallp.jpg');
    width: 1471.2px;
    min-width: 1471.2px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(57, 78, 142);
    text-shadow: 1px 1px 5px rgb(90, 90, 90);
    font-size: 13pt;
    font-size: 22pt;
}

#admin-button{
    margin-left: 1300px;
    margin-top:30px;
    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(243, 186, 115);
    font-size: 12pt;
    font-weight: 600;
    box-shadow: 1px 1px 2px rgb(116, 115, 115);
    text-shadow: 1px 1px 2px rgb(116, 115, 115);
    background-color: rgb(243, 186, 115);
}

#form-body{
    margin: 3px auto;
    margin-left: 400px;
    
}

label{
    color: rgb(107, 4, 133);
    text-shadow: 1px 1px 5px rgb(90, 90, 90);
    font-size: 12.3pt;
}

#input-heads{
    color: rgb(207, 219, 40);
    text-shadow: 1px 1px 5px rgb(90, 90, 90);
    font-size: 14pt;
}

input {
    opacity: 70%;
    font-size: 10.5pt;
    box-shadow: 1px 1px 10px rgb(90, 90, 90);
}

input[type = "text"] {
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 7px;
    border-width: 0px;
    padding: 6px;
}

#form-wrapper {
    
    /* border: 1px solid #000000; */
    margin: 30px 80px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(239, 239, 239, 0.7);
    font-weight: 600;
    
}


input#collegeName {
    width: 250px;
    
}

div#events {
    padding-top: 5px;
    padding-left: 30px;
}

div#sub {
    text-align: center;
}

input#sub {
    padding: 5px;
    width: 113px;
    font-weight: 600;
    font-size: 18pt;
    border-radius: 30px;
    border-width: 10px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-shadow: 0px 0px 0px;
    color: brown;
}


/* admin.html */

#go-back{
    margin-left: 1300px;
    margin-top:30px;
    border-radius: 20px;
    border-width: 10px;
    border-color: rgb(243, 186, 115);
    font-size: 12pt;
    font-weight: 600;
    box-shadow: 1px 1px 2px rgb(116, 115, 115);
    text-shadow: 1px 1px 2px rgb(116, 115, 115);
    background-color: rgb(243, 186, 115);
}

table, tr, th, td{
    border: 2px solid #000000;
    border-collapse: collapse;
    background: beige;
    text-align: center;
    box-shadow: 1px 1px 4px rgb(216, 214, 211);
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1300px;
}

table{
    min-width: 1300px;
}

thead{
    white-space: nowrap;
}

h2#db-table{
    text-align: left;
    padding-left: 500px;
    padding-bottom: 0px;
}

div#db-table{
    margin-left: 50px;
    margin-right: 57.2px;
    margin-top: 30px;
    padding: 30px;
    padding-top: 1px;
    border-radius: 10px;
    background-color: rgb(198, 193, 193);
}

button.delete-row-btn{
    border-radius: 1000px;
    border-width: 5px;
    background-color: red;
    color: white;
}